.Hamburger {
  display: none;
}

.SubmitIdea {
  display: none;
}

.NAV_ABOUT {
  display: none;
}

.NavbarAbout {
  display: flex;
}

@media (max-width: 1120px) {
  .NavbarAbout div {
    font-size: 1rem;
  }

  .NavbarTitle {
    font-size: 1.1rem;
    z-index: 1;
  }

  .NavbarSubmit {
    width: 15%;
    font-size: 0.9rem;
  }
}

.showit {
  display: none;
}

@media (max-width: 980px) {
  .NavbarAbout {
    display: none;
  }

  .NavbarSubmit {
    margin: auto auto;
    width: fit-content;
    padding: 5px;
  }

  .NavbarTitle {
    font-size: 1rem;
    z-index: 1;
  }

  .SubmitIdea {
    display: block;
  }

  .NavbarDisplay {
    display: none;
  }
  .Hamburger {
    display: block;
  }

  .NAV_ABOUT {
    position: relative;
    z-index: 100px;
  }

  .NAV_ABOUT {
    height: 20rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    box-shadow: rgba(133, 133, 133, 0.25) 0px 1px 0px; 
    transform-origin: top;
    transition: transform 400ms ease;
  }

  .Navbar {
    display: grid;
    grid-template-columns: 1fr;
  }

  .Logo {
    justify-content: space-between;
  }
}

/* ******************************************************** */
